*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-image: url("../src/assets/gardient-1.jpg"); 
   width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}
.active{
  color: white;
}
.card{
  transition: .5s;
}
.card:hover{
  transform: scale(1.01);
  box-shadow: 2px 2px 50px rgb(177, 177, 177);
}
